@{
    ViewData["Title"] = "Panel Moderatora";
}

<h2 style="color: purple;">Tajny Panel Moderatora</h2>
<p>Widzisz tę stronę, ponieważ w Twoim ciasteczku (Claims) znajduje się wpis <code>Role = Moderator</code>.</p>
<p>Gdybyś wszedł tu jako zwykły użytkownik, system odrzuciłby to zapytanie!</p>

<a asp-controller="Home" asp-action="Index">Wróć na stronę główną</a>