@{
    ViewData["Title"] = "Panel Użytkownika";
}

<h2 style="color: blue;">Panel Zalogowanego Użytkownika</h2>
<p>Gratulacje! Ciasteczko zadziałało. Masz dostęp do tej strony, ponieważ poprawnie się zalogowałeś.</p>

<a asp-controller="Home" asp-action="Index">Wróć na stronę główną</a>